<!-- Frontpage Slider -->
<div class="frontslider-wrap">
	<div class="responisve-container">
		<div class="slider" id="front-slider">
			<div class="slide">
				<img 	src="assets/img/front-slider/wargreymon.png"
						data-position="45,430" data-in="fade" data-delay="0" data-out="fade" alt="American Legends">
				<p 		class="caption1"
						data-position="50,0" data-in="right" data-step="0" data-out="fade" data-delay="0">WAR</p>
				<p 		class="caption2"
						data-position="150,0" data-in="right" data-step="0" data-out="fade" data-delay="0">GREYMON</p>
			</div>
			<div class="slide">
				<img 	src="assets/img/front-slider/metalmamemon.png"
						data-position="50,518" data-in="fade" data-delay="0" data-out="fade" alt="Legendary Bike">
				<p 		class="caption1"
						data-position="50,0" data-in="right" data-step="0" data-out="fade" data-delay="0">METAL</p>
				<p 		class="caption2"
						data-position="150,0" data-in="right" data-step="0" data-out="fade" data-delay="0">MAMEMON</p>
			</div>
			<div class="slide">
				<img 	src="assets/img/front-slider/metalgarurumon.png"
						data-position="21,480" data-in="fade" data-delay="0" data-out="fade" alt="Dream Car">
				<p 		class="caption1"
						data-position="50,0" data-in="right" data-step="0" data-out="fade" data-delay="0">METAL</p>
				<p 		class="caption2"
						data-position="150,0" data-in="right" data-step="0" data-out="fade" data-delay="0">GARURUMON</p>
			</div>
		</div>
	</div>
</div>
